.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
android/local.properties
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/core/constants/api_constants.dart
